.boardInstance {
  position:relative;
  width:100%;
  height:100%;
  margin: 0 auto;
  text-align: center;

}
.boardInstance .row {
  position:relative;
  width:100%;
  clear :both;
}

.boardInstance .tile {
  position:relative;
  display:inline-block;
  border:1px solid black;
  width:100px;
  height:100px;
  margin:0 auto;
  padding:0;
  text-align :center;
  font-size:30px;
}
.boardInstance .tile.selected {
  background-color: #FFFFDD;
}



#sudoku #game-canvas .boardInstance {width:507px}
#sudoku #game-canvas .boardInstance .tile:nth-child(3n+3) {margin-right: 2px}
#sudoku #game-canvas .boardInstance .tile:nth-child(19),
#sudoku #game-canvas .boardInstance .tile:nth-child(54)
{margin-bottom: 2px}

#sudoku #game-canvas .boardInstance .tile {
  position:relative;
  display:inline-block;
  border:1px solid black;
  width:50px;
  height:50px;
  margin:0 auto;
  padding:0;
  text-align :center;
  font-size:30px;
}


