ul.pattern_controller li{
   display: inline-block;
   padding:10px;
   cursor: pointer;
}
ul.pattern_controller li.selected {
  border:1px solid black;
}
.board_pattern {
  position: relative;
  padding: 0 ;
  margin : 0 auto;
  text-align: center;
  width:250px;
  height:250px;
}
.selected {
  background-color: #DCDCDC;
}

.tile {
  position: relative;
  display: inline-block;
  border:1px solid black;
  width:40px;
  height:40px;
  /*background-color: blue;*/
}
.numeric {
  border:0px;
  padding:1px;
}

.numeric.first-row {
  width:40px;
  height:40px;

}
.numeric.first-column {
  width:40px;
  height:40px;
  
}

.numeric.left-top {
  width:40px;
  height:40px;
}
/*
.tile.middle.top-arrow:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tile.middle.top-arrow:after {
  border-color: rgba(28, 182, 213, 0);
  border-bottom-color: #F0C020;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

.tile.middle.selected.top-arrow:after {
  border-color: rgba(28, 182, 213, 0);
  border-bottom-color: #027AC6;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.tile.middle.right-arrow:after {
  	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.tile.middle.selected.right-arrow:after {
	border-color: rgba(28, 182, 213, 0);
	border-left-color: #F0C020;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
.tile.middle.selected.right-arrow:after {
	border-color: rgba(28, 182, 213, 0);
	border-left-color: #027AC6;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
*/
/*
.tile.bottom {
  cursor:n-resize
}
.tile.top {
  cursor:s-resize
}

.tile.right {
  cursor:w-resize
}
.tile.left {
  cursor:e-resize
}
*/

.middle {
  background-color: #F0C020;
}
.middle.selected {background-color:#027AC6;}
.row {
  position:relative;
  padding: 0px ;
  margin : 0px auto;
  height:30px;
  width: 100%;

}
.top_buttons {
  position:absolute;
  top:-25px;
  margin:0 auto;
  width:100%;
}
.right_buttons {
  position:absolute;
  top:-25px;
  margin:0 auto;
  width:30px;
  right:-25px;
}
.left_buttons {
    position:absolute;
  top:-25px;
  margin:0 auto;
  width:30px;
  left:-25px;
}
.diagnal_button {
    width:20px;
    height:20px;
  position:relative;
  margin:1px;
}
.wide_button {
  width:40px;
  position:relative;
  margin:1px;
}
.nerrow_button {
    height:40px;
  position:relative;
  margin:1px;
}