.boardInstance {
  position:relative;
width:100%;
height:100%;
}
.boardInstance .row {
  position:relative;
width:100%;
clear :both;
}

.boardInstance .column {
  position:relative;
display:inline-block;
border:1px solid black;
width:100px;
height:100px;
float: left;
text-align :center;
font-size:30px;
}
.owned_1 {
  background: greenyellow;
  
}
.owned_2 {
   background: #FFBE7D; 
}
.owned_3 {
   background:red; 
}
.owned_4 {
   background:blue; 
}
#game4.boardInstance .column {
  position:relative;
display:inline-block;
border:1px solid black;
width:100px;
height:100px;
float: left;
text-align :center;
font-size:0px;
}
#game4.boardInstance .column.owned_1 {
  background: greenyellow;
  
}
#game4.boardInstance .column.owned_2 {
   background: #FFBE7D; 
}
#game4.boardInstance .column.owned_3 {
   background:red; 
}
#game4.boardInstance .column.owned_4 {
   background:blue; 
}

#game3.boardInstance .column {
  position:relative;
display:inline-block;
border:1px solid black;
width:50px;
height:50px;
float: left;
text-align :center;
font-size:30px;
}
#game3.boardInstance .column.owned
{
  background: white;
}
#game3.boardInstance .column.clicked {
  background: #FFFFBB;
}

